.ImagePortal .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .ImagePortal .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .ImagePortal .lander p {
    color: #999;
  }

  .ImagePortal .image-list-view {
    display: flex;
    flex-wrap: wrap;
  }

  .ImagePortal .content {
    padding: 20px 0;
  }


  